name: Twenty-2.0 Quality Gate

on:
  push:
    branches:
      - main

jobs:
  html-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: HTML Validation
        uses: anishathalye/proof-html@v1
        with:
          directory: ./
          check_html: true
          check_img_http: true
          check_external_hash: false
          check_favicon: false
          url_ignore_re: "https://fonts\\.googleapis\\.com|https://fonts\\.gstatic\\.com"
